.App {
  text-align: center;
  background-color: white;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  float: right;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10rem;
  font-weight: 500;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 15%;
}


.pic img{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 17%;
  left: 29%;
  border-radius: 20px;
  rotate: 5deg;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  z-index: 1;
}

.ipic{
    animation: picanimate 3s infinite linear;

}

@keyframes picanimate {
  0% {
    transform: rotateX(-30deg);
    
  }

  25% {
    transform: rotateX(-20deg)
  }

  50% {
    transform: rotateX(15deg);
  }

  75% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(30deg);
  }
}

.hey{
  width: 150px;
  height: 190px;
  position: absolute;
  top: -3%;
  left: 25%;
  font-weight: normal;
  border-radius: 40px;
  rotate: 22deg;
  color: rgb(255, 255, 255);
  background-color: #cca69a;
  cursor: pointer;
}

.hey p{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding: 40px;
  align-items: center;
}


.sam {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 25%;
  left: 15%;
  rotate: -7deg;
  color: white;
  background-color: black;
  cursor: pointer;
}

.sam p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 13px;
  align-items: center;
}


.linkedin {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 85%;
  left: 5%;
  border-radius: 7px;
  rotate: 7deg;
  cursor: pointer;
}

.aboutme{
  width: 170px;
  height: 60px;
  border: none;
  font-size: larger;
  color: white;
  background-color: rgb(60, 109, 242);
  align-items: center;
  border-radius: 28px;
}



.btn-about{
  width: 170px;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 10%;
  rotate: -10deg;
  border-style: groove;
  border-color: rgb(60, 109, 242);

}

.intouch a{
  text-decoration: none;
  color: rgb(42, 36, 36);
  font-weight: normal;
  font-size: x-large;
}

.intouch{
  width: 260px;
  height: 60px;
  background-color: rgb(98, 238, 238);
  position: absolute;
  top: 60%;
  left: 22%;
  border-style: none;
  border-radius: 30px;
  rotate: 5deg;
}

.myWork{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 85%;
  left: 25%;
  background-color: rgb(192, 238, 99);
  border-width: 10px;
  border-color: black;

}

.myworkanchor{
  color: rgb(42, 36, 36);
  align-items: center;
  padding-top: 10px;
  text-decoration: none;
}

.btn-about,

::after{
  content: '';
  animation: nonstopable 3s infinite linear;
}

@keyframes nonstopable {
  0% {
    transform: translateY(-0.25rem);
  }

  25% {
    transform: translateY(0.25rem);
  }

  50% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(-0.25rem);
  }
}

.sam,
::after{
  content: '';
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(-5deg)
  }

  50% {
    transform: rotate(1deg);
  }

  75%{
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(-10deg);
  }
  
}


.navbar{
  text-decoration: none;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 20px;
  top: 140%;
  left: 0%;
  flex: auto;
  flex-direction: column;
}

.navbar a{
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
  padding-left: 50px;
}

.github{
  width: 60px;
  height: 170px;
  position: absolute;
  top: 60%;
  right: 0%;
  position: fixed;
  background-color: black;
}

.github img{
  padding-bottom: 30px;
}

.github p, a{
  text-align: center;
  text-decoration: none;
  font-size: large;
  color: white;
  transform: rotate(-90deg);
}