.App {
  text-align: center;
  background-color: white;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  float: right;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: 500;
  text-align: right;
  position: absolute;
  right: 20%;
  top: 15%;
}

.pic{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 17%;
  left: 18.5%;
  border-radius: 20px;
  rotate: 7deg;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.pic:hover{
  rotate: -7deg;
  transition: 0.5s;
  width: 250px;
  height: 250px;
}


.hey{
  width: 150px;
  height: 190px;
  position: absolute;
  top: -3%;
  left: 15%;
  border-radius: 40px;
  rotate: 22deg;
  color: white;
  background-color: rgb(212, 100, 44);
  cursor: pointer;
}

.hey p{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding: 40px;
  align-items: center;
}

.hey{
  width: 150px;
  height: 190px;
  position: absolute;
  top: -3%;
  left: 15%;
  border-radius: 40px;
  rotate: 22deg;
  color: white;
  background-color: rgb(212, 100, 44);
  cursor: pointer;
}

.hey:hover{
  width: 170px;
  height: 220px;
}

.hey p:hover{
  align-items: center;
  padding: 50px;
}

.sam {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 10%;
  rotate: -7deg;
  border-radius: 10px;
  color: white;
  background-color: black;
  box-shadow: 7px 7px 20px black;
  cursor: pointer;
}

.sam p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 13px;
  align-items: center;
}

.sam:hover{
  position: absolute;
  top: 38%;
  left: 9%;
  rotate: 3deg;
  transition-duration: 900ms;
}

.linkedin {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25%;
  left: 5%;
  border-radius: 7px;
  rotate: 7deg;
  box-shadow: 7px 7px 20px black;
  cursor: pointer;
}

.aboutme{
  width: 150px;
  height: 60px;
  border: none;
  font-size: larger;
  color: white;
  background-color: rgb(60, 109, 242);
  align-items: center;
  border-radius: 28px;
}



.btn-about{
  width: 150px;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 5%;
  rotate: -10deg;
  border-style: groove;
  border-color: rgb(60, 109, 242);

}

.intouch a{
  text-decoration: none;
  color: rgb(42, 36, 36);
  font-weight: bold;
  font-size: x-large;
}

.intouch{
  width: 250px;
  height: 50px;
  background-color: rgb(98, 158, 232);
  position: absolute;
  top: 70%;
  left: 18%;
  border-style: none;
  border-radius: 30px;
  rotate: 5deg;
}