.App {
  text-align: center;
  background-color: white;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  float: right;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-header .sgt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7rem;
  font-weight: 500;
  text-decoration: solid;
  word-spacing: 2px;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 22%;
  color: black;
}